/* колір основного тексту #757575 */
/* колір заголовків #212121*/
/* акцентний колір #2196F3 */
/* вторинний фоновий #F5F4FA */
:root {
    --primary-color: #757575;
    --secondary-color: #212121;
    --accent-color: #2196F3;
    --secondary-back-color: #F5F4FA;
    --button-color: #f5f4fa;
    --back-color: #ffffff;
    --temp-color: #2f303a;


}
body {
    color: var(--primary-color);
    font-family: "roboto", sans-serif;
    
}
ul{
    list-style: none;
}

.logo {
    color: var(--accent-color);
    text-decoration: none;
    font-family: "raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.logo .logo-black {
color: #000;
}
.logo .logo-white {
    color: var(--back-color);

}

/* site nav */

.link {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.header-contacts .link {
    color: var(--primary-color)
}       

.link:hover,
.link:focus {
    color: var(--accent-color);
}
.current {
    color: var(--accent-color);
}

/* hero section */

.hero {
    background-color: var(--temp-color);
}

.hero .hero-title {
    color: var(--back-color);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    text-align: Center;
    letter-spacing: 0.06em;
    line-height: 1.36;
}

.button {
    font-family: inherit;
    color: var(--back-color);
    background-color: var(--accent-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: Center;
}

.filter-button {
    color: var(--secondary-color);
    background-color: var(--button-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
    color: var(--back-color);
    background-color: var(--accent-color);
}
/* Section advantages */

.section .section-title {
   color: var(--secondary-color);
   font-size: 36px;
   font-weight: 700;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-align: Center;
}


.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.advantages-list .title {
    color: var(--secondary-color);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.advantages-list .advantages-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* Section about */

/* Section team */

.team-list .title {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;    
}

.team-list .team-text {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

/* portfolio */
.works .works-title {
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    }

.works .works-text {
    color: var(--primary-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}


/* footer */
.footer{
background-color: var(--temp-color);
}

.footer-links .link {
    color: var(--back-color);
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.71;
    font-style: normal;    
}

.footer-links .contact {
    color: rgba(255, 255, 255, 0.6);

}

